h1{
	color: red;
	padding-left: 170px;
}
hr{
	width: 200px;
}
h1 + hr{
	width: 500px;
}
body{
	counter-reset: liCounter;
}
ol{
    list-style-type: none;
}

li:before{
	counter-increment: liCounter;
	content: counters(liCounter,".") " ";
	background-color: #00FEFF;
	color: white;
	font-size: 25px;
	border-radius: 50%;
	padding-left: 7px;
}

.wrapper{
	display: flex;
}